body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.left {
  flex: 1;
  max-width: 300px;
}

.right {
  flex: 3;
}

section {
  margin-bottom: 20px;
}

#stock-list .stock-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#stock-list .stock-item:hover {
  background-color: #f0f0f0;
}

input, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

#stock-chart {
  margin-top: 20px;
}

#priceChart {
  max-width: 20%;
  height: 0px; /* Pienennetty korkeus */
}

#chart-controls {
  margin-bottom: 10px;
}

#chart-controls button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chart-controls button:hover {
  background-color: #0056b3;
}